*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.wrapper {
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.mvc {
    width:500px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.input_wrapper {
    position: relative;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #ccc;
}

.input_wrapper input {
    position: absolute;
    width: 84%;
    height: 100%;
    border: none;
    padding: 0 16px 0 60px;
    color: #000;
    font-size: 20px;
}

.input_wrapper input:focus {
    outline: none;
}

.input_wrapper input::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
    font-size:20px;
}
.input_wrapper input::-moz-placeholder {
    color: #ccc;
    font-style: italic;
    font-size:20px;
}
.input_wrapper input:-moz-placeholder {
    color: #ccc;
    font-style: italic;
    font-size:20px;
}
.input_wrapper input:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
    font-size:20px;
}

.item {
    position: relative;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}

.item.completed .text span {
    color: #d9d9d9;
    position: relative;
}

.item.completed .text span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
}

.item .text {
    width: 80%;
    padding-left: 30px;
    font-size:20px;
}

.item .checkbox {
    width: 5%;
    display: flex;
    position: relative;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding-left: 10px;
}

.item .checkbox input {
    position: absolute;
    left: -9999px;
}

.item .checkbox label {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    cursor: pointer;
}

.item .checkbox label:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item .checkbox input:checked + label:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.item.completed .checkbox input + label:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.item .remove {
    width: 5%;
    height: 25px;
    cursor: pointer;
    position: relative;
    display: none;
    transition: background-color .3s;
}

.item:hover .remove {
    display: block;
}

.item .remove:hover:before,
.item .remove:hover:after {
    background-color: #af5b5e;
}

.item .remove:before,
.item .remove:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #cc9a9a;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 38%;
}

.item .remove:after {
    transform: translate(-50%, -50%) rotate(-45deg);

}

.item .remove:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu {
    position: relative;
    display: block;
    font-size: 12px;
    color: #777;
}

.menu .menu_inner {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 40px;
}

.mvc.active .menu {
    display: flex;
}

.mvc .menu:before {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.menu:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    bottom: 0;
}

.menu .items_left {
    padding-left: 10px;
}

.tabs {
    position: relative;
    padding-left: 115px;
}

.tabs .tab {
    display: inline-block;
    border-radius: 4px;
    padding: 3px 7px;
}

.tabs .tab.active {
    box-shadow: 0 0 0 1px rgba(175, 47, 47, 0.2);
}

.tabs .tab:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(175, 47, 47, 0.2);
}

#clear_completed {
    background-color: transparent;
    border: none;
    display: block;
    z-index: 100;
    color: #777;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 66px;
}

#clear_completed:focus {
    outline: none;
}

#clear_completed.active {
    visibility: visible;
}

#clear_completed:hover {
    text-decoration: underline;
    cursor: pointer;
}

.choose_all {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    visibility: visible;
}

.choose_all.active {
    visibility: visible;
}

.choose_all input {
    position: absolute;
    left: -9999px;
}

.choose_all label {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border: 4px solid #e6e6e6;
    border-top: none;
    border-right: none;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.choose_all input:checked + label {
    background-color: transparent;
    border: 4px solid #737373;
    border-top: none;
    border-right: none;
}

.updateInput {
    position: absolute;
    width: 84.8%;
    height: 100%;
    background-color: #fff;
    border: none;
    padding: 0 16px 0 60px;
    color: #000;
    font-size: 20px;
    display: block;
}

.updateInput:focus {
    outline: rgb(0,0,0) solid 2px;
}

.edit .updateInput {
    display: block;
}

.confirm-modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.confirm-modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

.close-modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.confirm-modal-inner {
    width: 300px;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 2px solid rgba(128, 21, 21, .9);
}

.modal-but {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    padding: 10px;
    border-radius: 15px;
    transition: all .3s;
    font-size: 16px;
    min-width: 50px;
    text-align: center;
}

.modal-but:active {
    outline: none;
}

.modal-but:hover {
    background-color: rgba(128, 21, 21, .9);
    color: white;
}

.modal-but.cancel-but {
    float: right;
}

.modal-text {
    padding-bottom: 20px;
}

.modal-text span {
    font-weight: 600;
    font-size: 18px;
}

.form_button {
    width: 100%;
    border-radius: 20px;
    background-color: #BF3030;
    padding: 7px 0;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.form_button:hover {
    background-color: rgba(255, 64, 64, .8);
}

.name_input,
.password_input {
    width: 500px;
    height: 40px;
    text-align: left;
    border: none;
    font-size: 16px;
    color: #FF7373;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 0 0 10px -3px rgba(255, 64, 64, .8);
    text-align: center;
}

.name_input:focus,
.password_input:focus {
    outline: none;
}

.mvc_wrap {
    width: 500px;
}

.logout_button {
    position: fixed;
    display: block;
    top: 50px;
    left: 50px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.logout_button:hover:before,
.logout_button:hover:after {
    background-color: rgba(0,0,0, .8);
}

.logout_button:before {
    content: '';
    position: absolute;
    top: 62%;
    left: 50%;
    width: 50%;
    height: 5px;
    background-color: #ccc;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 5px;
    transition: all .3s;
}

.logout_button:after {
    content: '';
    position: absolute;
    top: 38%;
    left: 50%;
    width: 50%;
    height: 5px;
    background-color: #ccc;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 5px;
    transition: all .3s;
}

.link_to_registration {
    text-align: center;
    font-weight: bold;
    color: rgb(0,0,0);
    text-transform: uppercase;
    width: 100%;
    display: block;
    margin-top: 10px;
}


